{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Inscription sur le site</h1>

    {{ form_start(form) }}
        {{ form_row(form.name, {
            'label': 'Nom d\'utilisateur :',
            'attr': {'placeholder': 'Saisir nom utilisateur ...'}}) }}
        {{ form_row(form.email, {
            'label': 'Adresse mail :',
            'attr': {'placeholder': 'votre adresse mail ...'}}) }}
        {{ form_row(form.password, {
            'label': 'Mot de passe :',
            'attr': {'placeholder': 'Saisir votre de passe ...'}}) }}
        <button type="submit" class="btn btn-success">Inscription !</button>
    {{ form_end(form) }}
{% endblock %}