{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section class="articles">
        <article>
            <h2>{{ article.title }}</h2>
            <div class="metadata">{{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i ') }}</div>
            <div class="content"><img src={{ article.picture }} alt="">
                {{ article.content | raw}}
            </div>
            <a href="{{ path('blog')}}" class="btn btn-primary">Retour</a>
        </article>
    </section>
    <section>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.user.name }} <small>({{ comment.createdAt | date('d/m/Y à H:i') }})</small>
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if app.user %}
        {{ form_start(commentForm) }}
            {{ form_row(commentForm.user) }}
            {{ form_row(commentForm.content, {'attr' : {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success">Commenter</button>

            {{ form_row(commentForm._token) }}
            {{ form_end(commentForm, {'render_rest': false}) }}
        {% else %}
            <h2>Vous ne pouvez pas commenter.</h2>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}

    </section>
{% endblock %}