{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <section class="articles">
        <article>
            <h2>{{ article.title }}</h2>
            <h3>Ajout persos</h3>
            <div class="video-wrapper">
                <div class="video-container">
                    <iframe src="{{ article.video}}" width="800" height="450" frameborder="0"></iframe>
                </div>
                <!-- /video -->
            </div>
            <div class="metadata">{{ article.createdAt | date('d/m/y') }} à {{ article.createdAt | date('H:i ') }}</div>
            <div class="content"><img src={{ article.picture }} alt="">
                {{ article.content | raw}}
            </div>
            {% if article.myFile is not null %}
                <div><a href="{{ asset('uploads/' ~ article.myFile) }}">Voir doc</a></div>
            {% endif %}
            <div>A la une : {{ article.vignette?article.vignette.name }}</div>
            <section>
                <h3>Liste média</h3>
                {#<ul class={{ is_granted('ROLE_USER')?"medias_full":"medias" }}>#}
                <div class="medias_display">
                    {% for medium in article.media %}
                        <span class="col-2">
                            {{ medium.name }}
                        </span>
                             {#{% if is_granted('ROLE_USER') %}#}
                                {#<a href="{{ path('/user/trick/{id}/edit', {id : article.id}) }}"><i class="fa fa-envelope-o"></i></a>#}
                                 {#<a href="{{ path('blog_update', {id : article.id}) }}"><i class="fas fa-edit"></i></a>#}
                                 {#<a href="{{ path('show_trick', {id : article.id}) }}"><i class="fas fa-trash"></i></a>#}
                             {#{% endif %}#}
                     {% endfor %}
                </div>
            </section>
            <a href="{{ path('blog')}}" class="btn btn-primary">Retour</a>
            {% if is_granted('ROLE_USER') %}
                <a href="{{ path('blog_update', {id : article.id})}}" class="btn btn-success">Editer</a>
                <a href="{{ path('blog_update', {id : article.id})}}" class="btn btn-danger">Supprimer</a>
            {% endif %}
        </article>
    </section>

    <section>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                        {{ comment.user.name }} <small>({{ comment.createdAt | date('d/m/Y à H:i') }})</small>
                    </div>
                    <div class="col">
                        {{ comment.content | raw }}
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if app.user %}
        {{ form_start(commentForm) }}
            {{ form_row(commentForm.user) }}
            {{ form_row(commentForm.content, {'attr' : {'placeholder': "Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success">Commenter</button>

            {{ form_row(commentForm._token) }}
            {{ form_end(commentForm, {'render_rest': false}) }}
        {% else %}
            <h2>Vous ne pouvez pas commenter, sans être logué.</h2>
            <a href="{{ path('app_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}

    </section>
{% endblock %}
