{% form_theme formArticle 'bootstrap_4_layout.html.twig' %}
{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Nouvelle figure</h1>
    <section>
        {{ form_start(formArticle) }}
            {{ form_row(formArticle) }}
            <button type="submit" class="btn btn-success">Créer</button>
        {{ form_end(formArticle) }}
    </section>
    {#<section>#}
        {#{% for media in article.media %}#}
            {#<li>{{ form_row(media.name) }}</li>#}
        {#{% endfor %}#}
        {#<ul class="medias" data-prototype="{{ form_widget(form.media.vars.prototype)|e('html_attr') }}">#}

        {#</ul>#}
    {#</section>#}
{% endblock %}