{% extends 'base.html.twig' %}

{% block body %}
    {{ parent() }}
    <h1>Gestion des commentaires</h1>
    <tr>
    <table>
        <thead>
            <td>id</td>
            <td>Date</td>
            <td>Auteur</td>
            <td>Contenu</td>
            <td>Action</td>
        </thead>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.id }}</td>
                <td>{{ comment.createdAt|date("d/m/Y") }}</td>
                <td>{{ comment.user.name}}</td>
                <td>{{ comment.content|slice(0,20)|raw }}...</td>
                <td>
                    <a href="{{ path('comment_update',{id : comment.id}) }}" class="fa fa-edit"></a>
                    <a href="{{ path('security_registration') }}" class="fa fa-trash-alt"></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}